

main .background {
   background-image: radial-gradient(hsla(0, 0%, 100%, 0.5), hsla(240, 100%, 50%, 0.5)), url(../../assets/pictures/FloatingNotes.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 60%;
}

main .flex-container {
   display: flex;
   justify-content: space-evenly;
}

main .overlay {
   background-color: hsla(265, 20%, 17%, 0.7);
}
