.button-save-to-spotify {
    font-family: var(--font-family-third);
    background-color: var(--color-800);
    color: var(--color-200);
    font-size: var(--font-size-button);
    border-radius: 3px;
    box-shadow: 0px 1px black;
    margin-top: 1rem;
}

.button-save-to-spotify:hover {
    color: var(--color-400);
}

.button-save-to-spotify:active {
    color: var(--color-300);
    margin-top: 1px;
    margin-bottom: -1px;
    box-shadow: 0px 0px black;
}