h1 {
    text-shadow: 0px 2px hsl(59, 100%, 23%), 0px 3px black, 0px -2px hsl(59, 100%, 53%);
    padding-block: 3rem;
    z-index: 5;
    font-weight: bold;
    font-family: var(--font-family-second);
    font-size:var(--font-size-header);
}

