body {
    background-image: radial-gradient(hsla(0, 0%, 100%, 0.5), hsla(240, 100%, 50%, 0.5)), url(../../assets/pictures/FloatingNotes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

h1 {
    margin: 2rem;
    font-size: 4rem;
    font-family: var(--font-family-second);
    text-shadow: 0px 3px black, 0px -2px hsl(59, 100%, 50%), 0px 2px hsl(59, 100%, 20%);
}

.grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}


