body {
  margin: 0;
  font-family: "Chewy", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-800);
  color: white;
  text-shadow: 0px 1px 1px white;
}

code {
  font-family: var(--font-family-second);
}
